{% extends 'admin/admin_base.html' %}
{% load static %}

{% block title %}
   All Product 
{% endblock %}

{% block content %}
<div>
    <h3>Categories</h3>
    <ul>
        {% for cat in categories %}
        <li><a href="?category={{ cat|urlencode }}">{{ cat }}</a></li>
        {% endfor %}
    </ul>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
{% endif %}
</div>
<div >
    {% if selected_category %}
    <h4>Showing products in category: {{ selected_category }}</h4>
    {% endif %}
    <div class='row'>
    {% for Product in Products %}
    <div class='col-md-3 mb-3'>
        <div class='card h-100'>
            <div class='card-body'>
                <img src='{{ Product.product_url }}' onerror="this.onerror=null; this.src='{% static 'resource/no_image.png' %}';" class='card-img-top'>
                <h5 class='card-title'>{{ Product.product_name }}</h5>
                <p class='card-text'>Price: ￡{{ Product.discount_price }}</p>
                <a href="{% url 'admin_delete_products' Product.id %}" class='btn btn-primary' onclick="return confirm('Are you sure?');">Delete Product</a>
                <p class='card_text'>⭐:{{Product.rating}}  <font size=1 color=#536878>{{Product.no_of_ratings}} have rated.</font></p>
                <p class='card-text' position=center>{{ Product.stock }} in stock.</p>
            </div>
        </div>
    </div>
    {% endfor %}
    
    </div>
</div>
{% endblock %}