{% extends 'base.html' %}
{% load static %}

{% block title %}
    
{% endblock %}

{% block content %}
<form method="post" action="{% url 'Login' %}">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>
<a class="nav-link" href="{% url 'Register' %}">Register</a>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    <p>If you forget your password, please contact the administrator to change it !</p>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}